{% extends 'fidohub_app/base_template.html' %}
{% load static %}

{% block content %}
  <div class="index-header">
    <!--<img src="{% static 'images/index_header_photo.jpg' %}" class="img-fluid" alt="..." />-->
    <h1>welcome to fidohub!</h1>
  </div>

  <div class="index-body">
    <p>
      <a class="btn btn-success" href="{% url 'clients' %}" role="button">Explore Clients</a>
    </p>
    <p>
      <a class="btn btn-success" href="{% url 'dogs' %}" role="button">Meet the Dogs</a>
    </p>
  </div>
{% endblock %}
